USE [master]
GO
/****** Object:  Database [ChatUser]    Script Date: 2015/6/30 14:38:16 ******/
CREATE DATABASE [ChatUser]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatUser', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ChatUser.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChatUser_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ChatUser_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatUser].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatUser]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2015/6/30 14:38:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[NikeName] [nvarchar](50) NULL,
	[PassWord] [nvarchar](100) NULL,
	[Sex] [int] NULL CONSTRAINT [DF_tUser_Sex]  DEFAULT ((0)),
	[BirthDay] [datetime] NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](20) NULL,
	[Status] [int] NULL CONSTRAINT [DF_tUser_State]  DEFAULT ((0)),
	[OnlineTime] [datetime] NULL,
	[OfflineTime] [datetime] NULL,
	[IsValid] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRelation]    Script Date: 2015/6/30 14:38:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRelation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[FriendId] [uniqueidentifier] NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_UserRelation_Status]  DEFAULT ((0)),
 CONSTRAINT [PK_UserRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
